<ul class="friends_list">
  <% @users.each do |user| %>
    <% next if user == current_user %>

    <li>
      <%= user.username %>

      <% can_friend = Friendship.can_friend?(current_user.id, user.id) %>

      <span class="friend-buttons<%= " can-friend" if can_friend %>">

        <form action="<%= user_friendship_url(user) %>" method="post"
               class="friend">
          <input type="hidden" name="authenticity_token"
                              value="<%= form_authenticity_token %>">

          <input type="submit" name="commit" value="Friend them!">
        </form>

        <form action="<%= user_friendship_url(user) %>" method="post"
               class="unfriend">
          <input type="hidden" name="authenticity_token"
                              value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">

          <input type="submit" name="commit" value="Unfriend a sucka!">
        </form>
      </span>
    </li>
  <% end %>
</ul>

<script>
  function toggleFriendButtons ($button) {
    $button
      .parents(".friend-buttons")
      .toggleClass("can-friend");
  }

  $("ul.friends_list").on("submit", "form", function (event) {
    event.preventDefault();
    var $currentTarget = $(event.currentTarget);
    var $form = $(this);

    $.ajax({
      url: $form.attr("action"),
      type: "POST",
      data: $currentTarget.serializeJSON(),
      success: function () { toggleFriendButtons($currentTarget) }
    });
  });
</script>
